/*个人信息美化*/
#aside-content>.card-widget.card-info {
  background: #fff url(https://www.eacls.top/img/info.webp) top 33% center no-repeat;
  position: relative;
}
#aside-content .card-info #card-info-btn {
  display: none;
}
#aside-content .card-info .author-info__name {
  font-weight: 700;
  color: black;
}
#aside-content .card-info .author-info__description {
  font-weight: 600;
  color: black;
}
.site-data > a .headline {
  color: rgb(0 0 0 / 100%);
}